/* change these */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #000;
  --link-color: #2F4F4F;
  --link-hover-color: #ffecdc;
  --color-4: #ffbf86;
  --color-5: #e5c4a6;

  --primary-font: "Montserrat";
  --secondary-font: "Playfair Display";
  --main-text-color: #000;

  --white-space: 1rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

header,
main,
footer {
  max-width: 1800px;
  margin: 0 auto;
  margin-left: inherit;
  padding: calc(2*var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: .75em;
  font-weight: bold;
  color: white;
}

.header-wrapper h2 {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2*var(--white-space));
}

section {
  margin-bottom: calc(2*var(--white-space));
}

.section-heading {
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 1.3rem;
  color: black;
  margin: .5rem 0;
}

ul {
  display: flex;
  justify-content: space-around;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 100vw;
  width: 100%;
  margin-right: 1vw;
}

.texture-swatch-1 {
  background: url(../img/bread.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/egg.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/peach.png) top left repeat;
}

button {
  padding: 1rem;
  border-radius: 0px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: bold 20px "Montserrat", sans-serif;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  transition: all 0.7s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.secondary-button {
  background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

button:hover {
  background-color: var(--link-hover-color);
  color: black;
}

button:active {
  background-color: var(--bg-color);
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 3rem;
  font-weight: bold;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.5rem;
}

p.typography-sample {
  font-family: var(--main-font);
  line-height: 1.5;
  max-width: 1360px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--link-hover-color);
}

p[class*="font-details-"] {
  margin-top: .5rem;
  margin-bottom: calc(2*var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
    display: inline-grid;
}

@media (min-width:800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
  }


  .swatches li {
    margin-right: 3%;
    height: 5vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width:900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
